/*!
 * com_remoteimage
 *
 * Copyright 2012 Asikart.com
 * License GNU General Public License version 2 or later; see LICENSE.txt, see LICENSE.php
 *
 * Generator: AKHelper
 * Author: Asika
 */


/* GLOBAL */


/* BODY */


/* TYPO */


/* LAYOUT */


/* CONTENT */


/* FILTER */


/* TABLE */


/* FORM */


/* FOOTER */


