/*!
 * com_remoteimage
 *
 * Copyright 2012 Asikart.com
 * License GNU General Public License version 2 or later; see LICENSE.txt, see LICENSE.php
 *
 * Generator: AKHelper
 * Author: Asika
 */


/* GLOBAL */


/* FINDER */

#remoteimage-manager .ui-state-hover,
#remoteimage-manager .ui-widget-content .ui-state-hover {
    border: none;
}


/* FORM */
#rm-width-lbl {
	m/argin-top: 5px;
}

.joomla25 #rm-insert-panel {
	p/adding: 20px 10px;
}

#elfinder .elfinder-dialog-resize input {
	max-width: 50px;
}

#elfinder .elfinder-dialog-resize img {
	max-width: none;
}

/* FOOTER */


/* TREE */
#remote-folder-wrap {
	height: 500px;
	overflow: auto ;
}